doctype html
html( lang="en" )
   include ./head.jade
   body(style="padding:65px;")
      include ./navbar.jade
      div(class = ['container'])
         .row
            h1=profile.name
         .row
            .col-lg-4(style="padding: 5px;")

               h3 Choose a seed playlist
               form(action="rateplaylist?profID="+profile.id method="POST")
                  each val in playlists
                     input(type="radio" name="playlistID" value=val.id)
                     input(type="hidden" name=val.id value=val.name)
                     span= val.name
                     br
                  input(type="submit" value="love" class=["btn btn-primary btn-success"] name="rate" style="margin-right:20px")
                  input(type="submit" value="hate" class=["btn btn-primary btn-danger"] name="rate" style="margin-right:20px")
            .col-lg-3(style="padding: 5px;")
               h3 Loved playlists
               ul
                  for val in lovedLists
                     li=val.name
            .col-lg-3(style="padding: 5px;" )
               h3 Hated playlists
               ul
                  for val in hatedLists
                     li=val.name
      script()
